@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 
<div class="row " >

    <div class="col-md-3">First Value</div>
    <div class="col-md-9"><input type="text" id="txtval1"  /></div>

</div>
<div class="row">

    <div class="col-md-3">Second Value</div>
    <div class="col-md-9"><input type="text" id="txtval2" /></div>

</div>
<div class="row mb-10">

    <div class="col-md-3"></div>
    <div class="col-md-9">
        <ahref="javascript:void(0)" class="btn btn-success" onclick="fnSum()">SUM</a>
        <ahref="javascript:void(0)" class="btn btn-success" onclick="fnSum()">SUM</a>
        <ahref="javascript:void(0)" class="btn btn-success" onclick="fnSum()">SUM</a>
    </div>

</div>
<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-9" id="divResult"></div>

</div>

@section Scripts {
    <script type="text/javascript">
        // $(document).ready(function () {
        //     console.log("mahfuzzzz");
        //     alert("mahfuz");
        // });

        function fnSum() {
            var x = parseInt($("#txtval1").val());
            var y = parseInt($("#txtval2").val());
            // var z = x + y;

            // $("#divResult").html(z);
            // alert(z);
            //url: "/Home/Add",

            $.ajax({
                type: "POST",
                url: "@Url.Action("Add", "Home")",
                data: {num1:x, num2:y},
                dataType:"text",
                success: function (msg) {
                    alert(msg);
                    $("#divResult").html(msg);
                },
                error: function (req, status, error) {

                }
            });
        }
    </script>
}
